:root {
  --tomato-jam: #d22332ff;
  --regal-navy: #113472ff;
  --sea-green: #428b54ff;
  --deep-space-blue: #1a2b3fff;
  --tomato-jam-2: #bc422fff;
  --deep-teal: #43705fff;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

*::before,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

@media screen and (max-width: 350px) {
  body {
    display: none;
  }
}

header,
footer {
  block-size: 6rem;
  display: flex;
  gap: 1rem;
  padding-inline: 10rem;
}

header {
  align-items: flex-end;
}

header > div {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.lg {
  min-inline-size: 20rem;
}

.lg img {
  margin-bottom: -0.4rem;
}

.lg p {
  font-weight: 600;
  font-size: 1.5rem;
}

.srch {
  flex: 1;
  display: flex;
  justify-content: center;
}

.bar {
  background-color: #f0f0f0;
  display: flex;
  block-size: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-inline: 1rem;
  border-radius: 1rem;
}

input {
  background-color: transparent;
  border: none;
  inline-size: 10rem;
}

input::placeholder {
  color: #000;
  font-size: 1rem;
}

.mbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  header,
  footer {
    padding-inline: 3rem;
  }
}

@media screen and (max-width: 800px) {
  input {
    display: none;
  }

  header,
  footer {
    padding-inline: 2rem;
  }

  header > div {
    gap: 0.5rem;
  }

  .lg {
    min-inline-size: 10rem;
  }

  .lg img {
    margin-bottom: -0.2rem;
  }

  .lg p {
    font-size: 1rem;
  }

  .srch {
    justify-content: flex-end;
    padding-inline: 0;
  }

  .srch img {
    block-size: 1rem;
  }

  .lg img {
    height: 2rem;
  }

  .mbtn img {
    block-size: 1rem;
  }
}

main {
  background-color: lightpink;
  flex: 1;
  display: flex;
  gap: 4rem;
  padding-inline: 10rem;
  overflow: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

main > div {
  background-color: lightblue;
  min-inline-size: 60vw;
}

footer {
  justify-content: space-between;
}

footer > div {
  display: flex;
  gap: 4rem;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: underline;
}

.nav > div {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.next img {
  transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
    overflow: scroll;
  }

  main > div {
    block-size: 60vh;
  }

  footer {
    flex-direction: column-reverse;
  }

  .nav {
    justify-content: flex-end;
  }

  .prev,
  .next {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .prev img {
    transform: rotate(90deg);
    margin-top: 0.4rem;
  }

  .next img {
    transform: rotate(-90deg);
    margin-top: -0.4rem;
  }
}
