.char {
  opacity: 0;
  transform: translateX(20rem);
  animation: slideIn 0.5s ease-in-out forwards;
}

.sadness {
  animation-delay: 0.1s;
}

.disgust {
  animation-delay: 0.2s;
}

.judy {
  animation-delay: 0.3s;
}

.moana {
  animation-delay: 0.4s;
}

.vanellope {
  animation-delay: 0.5s;
}

@keyframes slideIn {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.char img {
  transform: scale(0.5);
  margin-bottom: -8rem;
	animation: scaleUp 0.5s ease-in-out forwards;
}

.sadness img {
  animation-delay: 0.1s;
}
.disgust img {
  animation-delay: 0.2s;
}
.judy img {
  animation-delay: 0.3s;
}
.moana img {
  animation-delay: 0.4s;
}
.vanellope img {
  animation-delay: 0.5s;
}

@keyframes scaleUp {
  0% {
    margin-bottom: -8rem;
    transform: scale(0.5);
  }

  100% {
    margin-bottom: -2rem;
    transform: scale(1);
  }
}
