:root {
  --tomato-jam: #d22332ff;
  --regal-navy: #113472ff;
  --sea-green: #428b54ff;
  --deep-space-blue: #1a2b3fff;
  --tomato-jam-2: #bc422fff;
  --deep-teal: #43705fff;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

*::before,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  block-size: 7rem;
  padding: 0 5rem;
  display: flex;
  align-items: flex-end;
}

header > div,
footer > div {
  display: flex;
  align-items: center;
  gap: 1rem;

  block-size: 40%;

  font-size: 1.2rem;
}

.lg {
  font-size: 1.5rem;
  font-weight: 500;
}

.srch {
  flex: 1;
  justify-content: center;
}

.srchbar {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  block-size: 100%;
  inline-size: 15rem;
  border-radius: 2rem;
}

.menu {
  cursor: pointer;
}

input {
  block-size: 20px;
  border: none;
  background-color: transparent;
  margin-top: 0.4rem;
}

input::placeholder {
  font-size: 1.2rem;
}

main {
  background-color: lightpink;
  flex: 1;
}

footer {
  block-size: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5rem;
}

footer > div {
  gap: 4rem;
}

a {
  text-decoration: none;
  color: grey;
}

.nav,
.nav div {
  display: flex;
}

.nav div {
  cursor: pointer;
}

.next img {
  transform: rotate(180deg);
}
