:root {
  --tomato-jam: #d22332ff;
  --regal-navy: #113472ff;
  --sea-green: #428b54ff;
  --deep-space-blue: #1a2b3fff;
  --tomato-jam-2: #bc422fff;
  --deep-teal: #43705fff;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

*::before,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

header {
  block-size: 5rem;
  padding: 0 8rem;
  display: flex;
  align-items: flex-end;
}

header > div,
footer > div {
  display: flex;
  align-items: center;
  gap: 1rem;

  block-size: 50%;

  font-size: 1.2rem;
}

.lg {
  font-size: 1.5rem;
  font-weight: 500;
}

.srch {
  flex: 1;
  justify-content: center;
}

.srchbar {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  block-size: 100%;
  inline-size: 15rem;
  border-radius: 2rem;
}

.menu {
  cursor: pointer;
}

input {
  block-size: 20px;
  border: none;
  background-color: transparent;
  margin-top: 0.4rem;
}

input::placeholder {
  font-size: 1.2rem;
}

main {
  flex: 1;

  display: flex;
  gap: 2rem;
  overflow: scroll;
}

main > div {
  block-size: 100%;
  min-inline-size: 65rem;
}

.one,
.two {
  display: flex;
  align-items: flex-end;

  padding-bottom: 2rem;
  gap: 2rem;
}

.one {
  padding-left: 8rem;
}

.two {
  padding-right: 8rem;
}

.char {
  block-size: 50%;
  flex: 1;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: #fff;
}

.rosetta {
  background: linear-gradient(45deg, var(--tomato-jam), #d68f95);
  block-size: calc(50% + 2rem);
}

.sadness {
  background: linear-gradient(45deg, var(--regal-navy), #7895c5);
  block-size: calc(50% - 1rem);
}

.disgust {
  background: linear-gradient(45deg, var(--sea-green), #77d890);
  block-size: calc(50% + 1rem);
}

.judy {
  background: linear-gradient(45deg, var(--deep-space-blue), #4c6e96);
  block-size: calc(50% + 3rem);
}

.moana {
  background: linear-gradient(45deg, var(--tomato-jam-2), #ce897f);
  block-size: calc(50% + 4rem);
}

.vanellope {
  background: linear-gradient(45deg, var(--deep-teal), #77d890);
  block-size: calc(50% - 1rem);
}

.char-img {
  transition: all 0.25s;
}

.sadness img {
  margin-left: 3rem;
}

.disgust img {
  margin-left: 3rem;
}

.judy img {
  margin-left: 3rem;
}

.moana img {
  margin-left: 3rem;
}

.vanellope img {
  margin-left: 3rem;
}

.char-d {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.char-name {
  font-size: 2rem;
}

.mov-name span {
  color: #d4d4d4;
}

.more {
  block-size: 0;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

footer {
  block-size: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 8rem;
}

footer > div {
  gap: 4rem;
}

a {
  text-decoration: none;
  color: grey;
}

.nav,
.nav div {
  display: flex;
}

.nav div {
  align-items: center;
  cursor: pointer;
}

.next img {
  transform: rotate(180deg);
}
